<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'/>
</head>
<body>
<% include ../nav %>
<div class="container">
    <h1><%= title %></h1>
    <p><%= user.email %></p>
</div>
</body>
</html>
